<% include head %>
<div class="row">
  <div class="col-md-3">
    <h4>Repositories</h4>
    <ul data-bind="foreach: repositories" class="nav nav-pills nav-stacked">
      <li data-bind="css: { active: $data === $parent.selectedRepository() }">
        <a href="#" data-bind="text: shortName, attr: { title: repoUrl }, click: $parent.selectedRepository"></a>
      </li>
    </ul>
  </div>
  <div class="col-md-9" data-bind="with: selectedRepository">
    <h4>Agents</h4>
    <ul data-bind="foreach: agents" class="list-group">
      <li class="list-group-item">
        <span data-bind="text: id"></span>
        <!-- ko foreach: requirements -->
        <span class="label label-info" data-bind="text: $data"></span>
        <!-- /ko -->
        <span class="label label-warning" data-bind="visible: busy">busy</span>
      </li>
    </ul>
  </div>
</div>
<% include foot %>