<ul data-bind="foreach: repositories" class="nav nav-pills nav-stacked">
  <li data-bind="css: { active: $data === $parent.selectedRepository() }">
    <a href="#" data-bind="text: shortName, attr: { title: repoUrl }, click: $parent.selectedRepository"></a>
  </li>
</ul>