<% include head %>
<div class="row">
  <div class="col-md-3">
    <h4>Repositories</h4>
    <% include repositories %>
  </div>
  <div class="col-md-9 small" data-bind="with: selectedRepository">
    <div class="row">
      <pre data-bind="text: buildLog().join('\n')"></pre>
    </div>
  </div>
</div>
<% include foot %>